<h2 class="text-center">All Products</h2>

<div class="row">
    <div class="col-sm-4" *ngFor="let product of products">
        <div class="card">
            <img src="{{ 'http://rjtmobile.com/grocery/images/'+ product.image }}" alt="" class="card-img-top">

            <div class="card-body">
                <h5 class="card-title">{{ product.productName }}</h5>
                <p class="card-text">{{ product.unit }}</p>
                <h2>
                    {{ product.price | currency : 'INR' }}
                    <span class="mrp">
                        <del>{{ product.mrp | currency : 'INR' }}</del>
                    </span>
                </h2>
                <a routerLink="{{ '/products/detail/'+ product._id }}" class="btn btn-primary btn-block">Show Details</a>
            </div>
        </div>
    </div>
</div>