<app-navbar></app-navbar>

<div class="jumbotron text-center">
  <div class="display-4">Contact Us</div>
  <div class="lead">This is contact page</div>
</div>

<div class="container">
  <section>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum tenetur
      veniam delectus iste molestias beatae aliquid assumenda sint voluptatem,
      omnis eos quae. Rem voluptas repellendus sapiente. Ratione iure impedit
      ab. Veritatis quod quisquam vel ab provident natus, sed, corporis optio
      nulla omnis, sequi quo dicta illum facilis modi accusamus cum delectus
      enim aliquam asperiores. Rem doloremque qui, vitae placeat et libero
      possimus excepturi! Sed perferendis tempore corrupti harum, saepe quaerat
      doloremque, ipsum odio quasi fugit dolorum laborum aperiam illum ipsa eum!
      Optio voluptatibus consectetur, sit aliquam labore accusamus, quae ducimus
      maiores temporibus voluptas hic distinctio a alias iure nesciunt
      accusantium.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eligendi quos
      optio a tenetur maiores consectetur nisi, iusto deserunt soluta alias quae
      nemo vero beatae sapiente eveniet corrupti voluptas aut officia dolorum
      repellat. Velit rem ab voluptatum eum recusandae officiis exercitationem
      sed cum, ipsum quibusdam quisquam at necessitatibus ad et suscipit commodi
      nihil doloribus laudantium ut. Voluptatem, beatae debitis voluptates atque
      eum dolores, sit recusandae aspernatur dolorum corrupti aut adipisci
      exercitationem doloribus quam esse numquam, odit nemo? Nam, illo nulla.
      Possimus laboriosam numquam placeat, nisi porro, omnis delectus minus
      neque tempora corporis reiciendis aliquid culpa quasi odio non soluta
      quia.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere at a
      beatae laborum necessitatibus nesciunt ex pariatur repellat, quia, autem
      delectus earum quas! Iste voluptas sit commodi nisi iure. Id dignissimos
      aspernatur delectus fugiat aut tempora. Ipsam autem assumenda illo qui
      rerum numquam consectetur, cupiditate blanditiis praesentium deserunt aut
      reiciendis eaque recusandae enim maiores unde totam est incidunt atque!
      Odio, maiores pariatur labore, quisquam eveniet repudiandae delectus nobis
      vitae, officia natus nam. Perspiciatis corrupti cum, modi praesentium ab
      ullam laudantium sed culpa nam consequatur iure odit obcaecati repellendus
      ducimus dolor repudiandae labore et reprehenderit adipisci saepe inventore
      maiores nisi autem.
    </p>
  </section>
</div>
